@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

    /* TOP Z-INDEX 5000 */

    ::-webkit-scrollbar {
        display: none;
    }

    * {
        margin: 0;
        list-style-type: none;
        text-decoration: none;
    }

    body {
        font-family: "Roboto", sans-serif;
        /* font-weight: 100; */
        font-style: normal;
        /* font-optical-sizing: auto; */
        /* font-weight: weight; */
        /* font-style: normal; */
        list-style-type: none;
        text-decoration: none;
    }

    nav {
        z-index: 4900;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        position: fixed;
        /* height: 70px; */
        background: none;
        /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08); */

    }

    .account-log-sign-state-section {
        width: 100%;
        height: 25px;
        background: #ffffff;
        box-shadow: 0 0 1px #2e2e2e;
    }

    header {
        width: 100%;
        height: 70vh;
        background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../media/header.jpg');
        background-position: center;
        background-size: cover;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    header > :nth-child(1) {
        color: white;
        font-weight: bold;
        font-size: 30px;
    }
    
    header > :nth-child(2) {
        color: white;
        font-weight: bold;
        font-size: 70px;
        letter-spacing: 5px;
    }

    header > :nth-child(3) {
        color: white;
        font-weight: bold;
        font-size: 30px;
    }

    


    .shc-btn {
        position: absolute;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 40px;
        overflow: hidden;
        background: #ffffff;
        border: none;
        box-shadow: 0 0 1px #b2b2b2;
    }

    


    .shc-btn-ctr {
        pointer-events: none;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .shc-btn-img {
        width: 20px;
        pointer-events: none;
    }


    .acc-btn {
        position: absolute;
        left: 0;
        display: none;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        overflow: hidden;
        background: #ffffff;
        border: none;
        box-shadow: 0 0 1px #b2b2b2;
    }

    

    .acc-btn img {
        width: 15px;
    }

    
    .session_data_container {
        position: absolute;
        top: 0;
        left: 0;
    }

    .account-hidden-menu {
        display: none;
        padding: 0 10px 0;
    }

    .session_data_container:hover .account-hidden-menu{
        display: block;
        background: rgb(255, 255, 255);
    }

    

    .head-data-account {
        width: 100%;
        height: 40px;
        display: flex;
        justify-content: start;
        align-items: center;
        padding: 0;
        border: none;
        background: rgb(255, 255, 255);
    }

    .hd-dat-acc-img-ctr {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        background: rgb(255, 255, 255);
    }

    .hd-dat-acc-img-ctr img {
        width: 15px;
    }

    .head-data-account span {
        padding: 0 10px 0;
        background: rgb(255, 255, 255);
    }

    


    .nv-op-ct-li {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nv-op-ct-li-a {
        margin: 0 5px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        color: #b2b2b2;
        transition: all .2s ease-in-out;
        padding: 0 15px 0;
        letter-spacing: 3px;
        font-size: 13px;
    }

    .nv-op-ct-li-a:hover {
        background: #2e2e2e;
        color: #ffffff;
        transition: all .2s ease-in-out;
    }


    .nav-logo {
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        letter-spacing: 0px;
        font-weight: bold;
        color: #2e2e2e;
        background-image:  url('../media/headerImage.webp');
        background-position: center;
        background-size: cover;
        position: absolute;
        top: 0;
        opacity: 1;
        transition: all .3s ease-in-out;
    }

    .nav-logo-hidden {
        position: absolute;
        top: -50px;
        opacity: 0;
        transition: all .3s ease-in-out;
    }


    .nav-options-container {
        position: absolute;
        top: 50px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
        background: #ffffff;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
        transition: all .3s ease-in-out;
    }

    .nav-options-container-scrolled {
        position: absolute;
        top: 0;
        opacity: 0.9;
        transition: all .3s ease-in-out;
    }


    .menu-btn {
        position: absolute;
        top: 0;
        right: 0;
        display: none;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 70px;
        background: none;
        border: none;
    }

    .menu-btn img {
        width: 25px;
        pointer-events: none;
    }

    
    
    .log-in-sigh-in-options-container {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        padding: 0 10px 0;
        gap: 10px;
    }

    .log-in-sigh-in-options-container a {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 10px;
        letter-spacing: 1px;
        height: 30px;
    }

    

    main {
        display: block;
        padding: 10px;
    }

    .main-content-container {
        
        display: flex;
        flex-direction: column;
        /* grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, auto); */
        gap: 20px;
    }


    .categorys-container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
        gap: 20px;
    }

    

    .category-btn {
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05), 0 4px 6px rgba(0, 0, 0, 0.03);
        display: flex;
        justify-content: center;
        align-items: center;
        color: #2e2e2e;
        letter-spacing: 2px;
        font-weight: 500;
    }

    .nc {
        pointer-events: none;
    }


    .detail-background {
        position: fixed;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../media/header.jpg');
        background-position: center;
        background-size: cover;
    }

    .detail-background-body {
        width: 100%;
        height: 100%; /* Toma el 100% de la altura del contenedor */
        overflow-y: auto;

    }

    .detail-navbar {
        z-index: 5000;
        position: fixed;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 50px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        background: #ffffff;
    }

    .detail-navbar h3 {
        letter-spacing: 2px;
        font-weight: 400;
    }

    .dn-sct1 {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        overflow: hidden;
    }

    .dn-sct1 img {
        width: 30px;
    }


    .dn-quantity-indicator {
        display: none;
        justify-content: center;
        align-items: center;
        pointer-events: none;
        width: 17px;
        height: 17px;
        font-size: 13px;
        background: #ff0000;
        color: #ffffff;
        position: absolute;
        right: 5px;
        bottom: 10px;
        border-radius: 100%;
    }


    .dn-sct2 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        overflow: hidden;
    }

    .dn-sct2 img {
        width: 28px;
        pointer-events: none;
    }
    
    
    .detail-view {
        display: flex;
        margin: 80px 80px 80px;
        background: rgba(255, 255, 255, 0.8); /* Color de fondo blanco */
        height: 75vh;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
        z-index: 1; /* Asegura que esté por encima del pseudo-elemento */
    }
    

    

    .dt-view-sct1 {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 280px;
        width: 40%;
        /* height: 100%; */
        overflow: hidden;
        background: #ffffff;
    }

    .dt-lg-img {
        width: 100%;
    }

    .dt-view-sct2 {
        display: flex;
        width: 60%;
        /* height: 100%; */
        /* background: #2b2b2b; */
    }


    


    .dt-view-sct2--sct1 {
        position: relative;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: top;
        gap: 10px;
        padding: 10px;
        overflow: hidden;
        margin-left: -40px;
    }

    .dt-sm-img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 60px;
        border-radius: 70px;
        overflow: hidden;
        box-shadow: 0 0 1px #2b2b2b; /* Sombra */
    }

    


    .dt-sm-img img {
        width: 100%;
        pointer-events: none;
    }


    .btn-img-active::before{
        content: ''; /* Obligatorio para pseudo-elementos */
        position: absolute;
        width: 66px;
        height: 66px;
        border-radius: 100%; /* Mitad del tamaño total */
        background: #3d3d3d00;
        border: 2px solid #2b2b2b;
    }

    

    
    .dt-view-sct2--sct2 {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: start;
        flex-direction: column;
        padding: 10px;
        /* background: rgb(83, 65, 68); */
    }

    .dt-avaliable-sizes-ctr {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        width: 100%;
    }

    .dt-size-btn {
        position: relative; /* Necesario para posicionar correctamente el pseudo-elemento */
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #ffffff;
        border-radius: 20px;
        border: none;
        box-shadow: 0 0 1px #2b2b2b; /* Sombra */
        font-size: 15px;
    }


    
    
    /* .dt-size-btn::before {
        content: '';
        position: absolute;
        width: 46px;
        height: 46px;
        border-radius: 25px;
        background: #3d3d3d;
        z-index: -1;
    } */

    .btn-size-active::before{
        content: ''; /* Obligatorio para pseudo-elementos */
        position: absolute;
        width: 46px;
        height: 46px;
        border-radius: 25px; /* Mitad del tamaño total */
        background: #3d3d3d00;
        /* z-index: -1; */
        border: 2px solid #2b2b2b;
    }

    

    

    .dt-sct2-sct2-sc1 {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* background: lightcoral; */
    }

    .dt-sct2-sct2-sc2 {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* background: lightcoral; */
    }

    .dt-sct2-sct2-sc3 {
        width: 100%;
        
        display: flex;
        justify-content: center;
        align-items: center;
        /* background: lightcoral; */
        
        gap: 10px;
    }

    .dt-p-data-sct1 {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 13px;
        height: 60px;
        /* background: #ffffff; */
        overflow: hidden;
        letter-spacing: 2px;
    }

    .dt-color-container {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        width: 40px;
        height: 40px;
        border-radius: 25px;
        border: 3px solid #ffffff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
    }

    .dt-color-container img {
        width: 600%;
    }

    .dt-p-data-sct2 {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 13px;
        height: 60px;
        /* background: #ffffff; */
        overflow: hidden;
        letter-spacing: 2px;
    }

    .dt-sct2-sct2-sc4 {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        /* background: lightcoral; */
    }

    .dt-sct2-sct2-sc5 {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* background: lightcoral; */
    }

    .dt-sct2-sct2-sc6 {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* background: lightcoral; */
    }

    .dt-price {
        font-size: 25px;
        letter-spacing: 2px;
        font-weight: 300;
    }

    .btn-add-to-cart {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        background: #2b2b2b;
        color: #ffffff;
        font-size: 15px;
        letter-spacing: 2px;
        font-weight: 300;
        border: none;
        border-radius: 5px;
    }



    .dt-btns-container {
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: center;
    }

    .dt-add-quantity {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        background: lightslategray;
        color: #ffffff;
        font-size: 15px;
        font-weight: 300;
        border: none;
        border-radius: 5px;
    }

    .dt-sub-quantity {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        background: lightslategray;
        color: #ffffff;
        font-size: 15px;
        font-weight: 300;
        border: none;
        border-radius: 5px;
    }

    .dt-show-quantity {
        font-weight: bold;
        font-size: 13px;
    }

    

    .others-view {
        /* width: 500px; */
        margin: 0 80px 80px;
        padding: 10px;
        background: rgba(255, 255, 255, 0.8);
    }

    .products-container {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
        gap: 10px; /* Espacio entre los elementos */
        justify-content: center;
        align-items: center;
        place-items: center;
    }


    .product-body {
        width: 250px;
        background: #ffffff;
        position: relative;
        overflow: hidden;
    }


    .pb-img-container {
        width: 100%;
        height: 320px;
        min-height: 320px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        position: relative;
    }

    .pb-info-container {
        width: 100%;
        height: 55px;
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;
        padding: 0 12px 0;
    }

    .pb-img {
        width: 100%;
        pointer-events: none;
    }


    .pb-name-product {
        font-size: .75rem;
        margin-bottom: 5px;
    }

    .pb-price-product {
        font-size: .75rem;
        font-weight: bold;
    }

    
    .pb-sizes-container {
        position: absolute;
        bottom: 20px;
        background: #ffffffa1;
        margin: 10px;
        border-radius: 15px;
        display: none;
        align-items: center;
        justify-content: center;
        gap: 10px;
        padding: 10px;
    }

    .pb-img-container:hover .pb-sizes-container {
        display: flex;
        align-items: center;
        justify-content: center; 
    }


    .pb-size-btn {
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        background: white;
        box-shadow: 0 0 1px #2b2b2b;
        border-radius: 15px;
        color: #2b2b2b;
    }


    footer {
        box-shadow: 0 0 1px #b2b2b2;
        letter-spacing: 2px;
        font-size: 20px;
        width: 100%;
    }

    .footer-sct1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }

    .footer-sct1 span {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        color: #b2b2b2;
        font-weight: bold;
    }

    .footer-sct1 hr {
        width: 90%;
    }

    .footer-sct2 {
        padding: 20px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .footer-sct2 a {
        margin: 10px;
        padding: 20px;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 0 1px #2b2b2b;
    }

    .footer-sct2 a img {
        width: 40px;
        height: 40px;
    }

    .footer-sct3 {
        padding: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #2e2e2e;
        color: white;
        font-size: 11px;
        letter-spacing: 2px;
    }


    

    .cart-container {
        position: fixed;
        top: 0;
        right: -300px;
        width: 300px;
        height: 100%;
        transition: all .2s ease-in-out;
        z-index: 5100;
        opacity: 0;
    }

    

    .cart--show {
        position: fixed;
        top: 0;
        right: 0;
        transition: all .2s ease-in-out;
        opacity: 1;
    }

    .cart--show::before {
        content: '';
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.3);
        z-index: -1;
        transition: all .2s;
    }



    .cart-body {
        width: 100%;
        height: 100%;
    }


    .cart-head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 50px;
        background: lightslategrey
    }

    .cart-items-container {
        width: 100%;
        height: 100%;
        background: #ffffff;
    }

    .cart-close-btn {
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        background: none;
        color: white;
    }

    .cart-close-btn span {
        font-size: 25px;
        rotate: 0;
        transition: all .5s;
        pointer-events: none;
        /* background: lightseagreen; */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .cart--show .cart-close-btn span {
        font-size: 25px;
        rotate: 180deg;
        transition: all .5s;
    }

    .cart-head-text {
        width: 100%;
        height: 90px;
        display: flex;
        justify-content: center;
        align-items: center;
        letter-spacing: 2px;
        color: white;

    }


    .cart-items {
        position: absolute;
        top: 50px;
        bottom: 100px;
        width: 100%;
        padding: 10px;
        overflow: scroll;
    }


    .cart-item-body {
        display: flex;
        background: rgb(255, 255, 255);
        height: 100px;
        margin-bottom: 10px;
        box-shadow: 0 0 2px gray;
        
    }

    .cart-item-sct1 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70px;
        height: 100px;
        overflow: hidden;
        background: #ffffff;
    }

    .cart-item-sct1 img {
        width: 100%;
    }

    .cart-item-sct2 {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    .cart-item-sct2-sc1 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 40px;
    }

    .cart-item-sct2-sc2 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 50px;
        font-size: 13px;
        font-weight: bold;
    }

    .cart-item-size {
        padding: 5px;
        margin-left: -10px;
        border-radius: 10%;
        background: lightslategray;
    }

    .cart-item-totalp {
        padding: 5px;
        
        margin-right: 10px;
        background: #ffffff;
    }

    .cart-item-name-product {
        font-size: 11px;
    }

    .cart-item-btn-delete {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        background: none;
        border: none;
    }

    .cart-info {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 100px;
        background: rgb(255, 255, 255);
        display: none;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 10px;
        padding: 10px;
        box-shadow: inset 0 0 2px gray;
    }

    .cart-totally-text {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        font-weight: bold;
        grid-column: span 3;
        grid-row: span 1;
    }

    .cart-delete-btn {
        border: none;
        grid-column: span 1;
        grid-row: span 1;
        background: lightslategray;
        border-radius: 5px;
        color: white;
    }

    .cart-pay-btn {
        border: none;
        grid-column: span 2;
        grid-row: span 1;
        background: rgb(0, 133, 221);
        border-radius: 5px;
        color: white;
    }


    @media screen and (max-width: 1100px) {


        
    }